$color-primary: #084561;
$color-secondary: #f8ad32;

$color-body-background: #f7f7f7;
$color-header-hover: #396a81;
$color-helpful: #e9f9dc;

$color-sidebar-background: #f0f0f0;
$color-sidebar-hover: #fff;

$color-success: #48a200;
$color-danger: #c0392b;

$color-keyboard: #f8f6ea;
